.temp {
    color: #FF934F;
    /* bg_header: '#EFECCA',
    background_body: '#f5f5f5',
    text: '#333' */

    background-color: rgba(99, 85, 78, 0.733);
    /* dark: primary: '#FF934F',
        primary_modified: '#FF8E47',*/
    color: #FF934F;
    color: #FF8E47;


    /* light:  primary: '#FF8133',
        primary_modified: '#FFB282',  efc98bb7*/

    color: #3d3c3b;


    color: #fff;
    color: #08070d9e;
    
    
    
    color: #e0b861;

    color: #242321;

}